@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
}

a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}

.header, .top, .footer {
  background-color: #1f2937;

}
.top{

  background-repeat: no-repeat;
  background-size: 100% 300%;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 15%;
  position: fixed;
  width: 100%;
  z-index: 10;

}

.links, .hero-secondary, .footer, .placeholder {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: lighter;
}

.placeholder {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 415px;
  height: 175px;
}

ul {
  list-style-type: none;
  display: flex;
}

.logo, ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo  img{
  width: 70px;
  height: 100%;
}
.top {
  display: flex;
  justify-content: space-around;
  padding: 70px 15%;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  padding: 60px;
}

h1, .logo, button, .action {
  color: #f9faf8;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}


.hero-secondary {
  padding: 10px 0;
  font-size: 24px;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  display: flex;
  justify-content: center
}

.info {
  padding-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px
}

.icon {
  padding: 50px;
  max-width: 0px;
  border-style: solid;
  border-color: #6b38f6;
  border-radius: 10px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.placeholder-img{
  width: 300px;
  height: 400px;
  position: relative;
  top:70%;
  cursor: pointer;
}

.info-box {
  max-width: 150px;
  transition: 0.5s;
}

.text {
text-align: center;
font-weight: 100;  
}

button{
  background-color: #3882f6;
  border: none;
  border-radius: 4px;
  padding: 5px 20px;
}

.text1 {
  font-weight: bold;
  font-size: 18px
}

.sign-up2 {
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
.background-image{
  background-attachment: fixed;
  background-position: 0 20%;
}
.bottom {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
html{
  scroll-behavior: smooth;
}
.quote-box {
  width: 60%;
}

.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.source {
  text-align: right;
  font-weight: bold;
}

.action {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.box {
  background-color: #7138f6;
  border-radius: 5px;
  padding: 35px;
  width: 66%;
  display: flex;
  justify-content: space-around;
}
.info-box{
  transform: scale(1.5);
  transition: 3ms;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 5px;

}

.links > *{
  padding: 10px 10px;
  border: #8138f6 solid 1px;
  border-radius: 15px;
  text-decoration: none;
}
.links > *:hover{
  background-color: #8138f6;
  color: white;
}
.links > *:visited{
  color: white;
}


.show{
  width: 40vw;
  height: 120vh;
  position: absolute;
  animation: show 1s ease-in-out;
  top: -150%;
  margin-bottom: 70px;
}
.copyright{
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-louta{
  height: 90px;
}



.fafa a{
  color: #1f2937;
}
.fafa a:visited{
  color: #1f2937;
}
